/* Global styles */
html,
body {
  font-family: "Euclid Square", sans-serif;
  overflow-x: hidden;
  height: 100%;
}
section:not(.main-header) {
  padding: 100px 0;
}
.header-side-image {
  padding: 100px 0;
}
.main-header.bg-neutral {
  height: 100%;
}
.main-header.bg-neutral,
.icons-section,
.brand-features,
.slider-unique {
  background: #f2f2f7;
}
.main-header.bg-neutral .main-header-contents .header-title h1,
.main-header.bg-neutral .main-header-contents .header-title p,
.main-header.bg-neutral .main-header-contents .video-link a {
  color: #020205;
}
.latest-offers-section,
.benefits-and-rewards-section,
.get-started-section,
.products-section,
.online-pay-section,
.awards-section,
.branches-and-atms-section,
.testimonials-sections,
.faq-accordion-section,
.counter-section {
  background: #e5e5e5;
}
.banner-center {
  background-color: #f2f2f7;
}
.get-started-section .texts-container,
.cbd-investr-section .texts-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.get-started-section .texts-container > h3,
.cbd-investr-section .texts-container > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  color: #020205;
}
.get-started-section .texts-container span > p,
.cbd-investr-section .texts-container span > p {
  font-size: 18px;
  color: #020205;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 48px;
  padding-right: 5rem;
}
.slick-list.draggable {
  overflow: visible;
}
.button-container {
  margin-bottom: 62px;
}
.btn-white {
  border-radius: 12px;
  color: #000;
  background: #f2f2f7;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 18px;
  margin-right: 16px;
  letter-spacing: 0.3px;
}
.btn-blue {
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  background: #02b8d1;
  font-weight: 600;
  padding: 10px 24px;
  letter-spacing: 0.3px;
}
.main-header::before {
  content: "";
  background: #000;
  opacity: 32%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.main-header-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
.main-header .main-header-contents .header-title h1 {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}
.main-header .main-header-contents .header-title p {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
.products-header-title {
  margin-bottom: 52px;
  text-align: center;
}
.products-header-title h2 {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #020205;
}
.sliders-title-arrows div .slider-title > h3 {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: #020205;
}
.arrows-styles {
  display: flex;
  justify-content: end;
  text-align: end;
}
.slick-arrow {
  border: none;
  background: transparent;
  color: transparent;
  display: inline-block;
}
.arrows-styles .slick-prev,
.arrows-styles .slick-next {
  position: unset;
  transform: none;
}
.arrows-styles .slick-prev:before,
.arrows-styles .slick-next:before {
  font-family: unset;
  color: #000;
}
.arrows-styles .slick-prev::before {
  content: "\f060";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  color: #020205;
  opacity: 1;
}
.arrows-styles .slick-next::before {
  content: "\f061";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  color: #020205;
  opacity: 1;
}
.slider-column-spacing {
  margin-top: 30px;
}
.js-benefits-slider-styles .image {
  position: relative;
}
section.latest-offers-section {
  padding-top: 0px;
}
.js-latest-offers-slider-styles,
.js-benefits-slider-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.view-all-styles {
  order: 1;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #007e8f;
  text-decoration: none;
}
.view-all-styles:hover {
  text-decoration: none;
}
.arrows-styles .slick-prev {
  order: 2;
  margin-right: 39px;
}
.arrows-styles .slick-next {
  order: 3;
}
.js-products-slider-styles .slick-list .slick-track .slick-slide div {
  margin-right: 32px;
}
.slick-list .slick-track .slick-slide div .image {
  margin: 0;
  position: relative;
}
.slick-list .slick-track .slick-slide div .image > img {
  border-radius: 32px;
  border: none;
}
.slick-dotted .slick-dots li {
  margin: 0;
}
.slick-dotted .slick-dots li button[aria-selected="true"]::before {
  color: #020205;
  opacity: 1;
}
.slick-dotted .slick-dots {
  margin-bottom: -25px;
}
.js-products-slider-styles .image > h4,
.js-latest-offers-slider-styles .image > h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #020205;
}
.slick-slider:not(.js-products-slider-styles)
  .slick-list
  .slick-track
  .slick-slide
  > div {
  margin-right: 52px;
}
.js-testimonials-slider-styles .slick-list .slick-track .slick-slide > div {
  width: 243px;
  height: 243px;
}
.js-benefits-slider-styles .image > h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  margin: 0 24px 24px;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: #fff;
  font-weight: bold;
}
/* carousel styles start */
.carousel.slide .carousel-indicators {
  margin-bottom: -48px;
}
.carousel-arrows span i {
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 100%;
}
.carousel.slide .carousel-indicators button {
  width: 6px;
  height: 6px;
  border-radius: 100%;
}
.carousel.slide .carousel-indicators button.active {
  background-color: #181821;
  opacity: 1;
}
.carousel.slide .carousel-indicators button:not(.active) {
  background-color: rgba(2, 2, 5, 0.2);
}
/* carousel styles end */
.cbd-for-business-section {
  background: #181821;
}
.image-container {
  text-align: center;
  margin-bottom: 32px;
}
.cbd-for-business-section .texts-container > h3 {
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 48px;
}
.cbd-for-business-section .texts-container span > p {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 48px;
  font-style: normal;
}
.btn-blue-darktext {
  padding: 12px 24px;
  background: #02b8d1;
  border-radius: 12px;
  color: #020205;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.btn-dark-bg {
  padding: 12px 24px;
  background: #2b2b3b;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
.btn-dark-bg:hover {
  color: #fff;
  opacity: 0.75;
}
.btndark-transparent-bg {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #020205;
  padding: 12px 24px;
  border-radius: 12px;
}
.btnblue-transparent-bg {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #007e8f;
  padding: 12px 24px;
  border-radius: 12px;
}
div.texts-container {
  text-align: center;
}
.get-started-section .texts-container span > p,
.cbd-investr-section .texts-container span > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #020205;
}
.credit-card-for-you-section {
  background: #181821;
}
.credit-card-for-you-section .row {
  text-align: center;
}
.credit-card-for-you-section .text-row .col div > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.bigger-text {
  font-size: 6rem;
}
.img-container {
  margin: 52px 0 42px;
}
.paragraph-row .col > p {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
}

.banner-center .text-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-center .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-center .icons > span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 24px;
}
.banner-center .icons span > img {
  margin-right: 8px;
}
.banner-center .banner-center-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  color: #020205;
  margin-bottom: 24px;
}
.banner-center span > p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: #020205;
  margin-bottom: 48px;
}
.banner-center .icons span > h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.2px;
  color: #020205;
  margin-bottom: 0;
}
.banner-list-styles > li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #020205;
  margin-bottom: 25px;
}
.banner-list-styles > li::marker {
  color: #e4e4eb;
  font-size: 18px;
}
.extended-banner-center.banner-center .icons {
  flex-direction: column;
  align-items: flex-start;
}
.extended-banner-center.banner-center .icons > span {
  margin-bottom: 24px;
  margin-right: 0;
}
.banner-center .banner-content-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  margin-top: 60px;
}
.banner-center .banner-content-link > a {
  text-decoration: none;
  color: #007e8f;
}
.cbd-investr-section {
  position: relative;
}
.cbd-investr-section > picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.cbd-investr-section > picture img {
  width: 100%;
  height: 100%;
}
.cbd-investr-section .texts-container > img {
  margin-top: 48px;
}
.online-pay-title {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.online-pay-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 28px;
}
.banner-content-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  margin-bottom: 28px;
}
.banner-content-link > a {
  color: #fff;
  text-decoration: none;
}
.js-testimonials-slider-styles
  .slick-list
  .slick-track
  .slick-slide
  div
  .image {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 32px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.js-awards-slider-styles .slick-list .slick-track .slick-slide div .image > h4 {
  color: #fff;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.js-testimonials-slider-styles
  .slick-list
  .slick-track
  .slick-slide
  div
  .image
  > h4 {
  color: #020205;
}
.js-awards-slider-styles .slick-list .slick-track .slick-slide div .image > h4,
.js-testimonials-slider-styles
  .slick-list
  .slick-track
  .slick-slide
  div
  .image
  > h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.3px;
  margin: 0 24px;
}

.faq-accordion-section .row .products-header-title > p {
  margin-top: 24px;
  text-align: center;
}
.faq-accordion-section .find-out-more-link-row a {
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #020205;
  display: block;
  width: 100%;
}
.faq-accordion-section .find-out-more-link-row a span > i {
  margin-left: 21px;
}
.faq-accordion-section .accordion {
  margin-bottom: 56px;
}
.faq-accordion-section .accordion .accordion-item {
  margin-bottom: 16px;
  border-radius: 16px;
}
.faq-accordion-section
  .accordion
  .accordion-item
  .accordion-header
  > .accordion-button {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.4px;
  color: #020205;
  padding: 32px 37px 32px 32px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: none;
}
.faq-accordion-section
  .accordion
  .accordion-item
  .accordion-header
  > .accordion-button::after {
  content: "\f067";
  background-image: none;
  transition: none;
  font-weight: 900;
  font-size: 22px;
  font-family: "Font Awesome 5 Free";
}
.faq-accordion-section
  .accordion
  .accordion-item
  .accordion-header
  > .accordion-button.collapsed::after {
  content: "\f067";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.faq-accordion-section
  .accordion
  .accordion-item
  .accordion-header
  > .accordion-button:not(.collapsed)::after {
  content: "\f068";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
}
.footer-section {
  padding: 100px 0 58px;
  background: #181821;
}

.footer-section .footer-row .col .footer-list {
  list-style: none;
  padding: 0;
}
.footer-section .footer-row .col .footer-list li {
  padding: 18px 40px 18px 0;
}
.footer-section .footer-row .col .footer-list li > a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.footer-section .footer-row .col .social-media a > i {
  color: #fff;
  font-size: 25px;
  margin-right: 32px;
}
.h-line-divider {
  border-bottom: 1px solid #f2f2f73d;
}
.footer-section .footer-row-two .col div p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 0;
  margin-top: 34px;
}
.footer-section .footer-list.collapse {
  display: inherit;
}
.footer-section .footer-row .first-column > div {
  margin-bottom: 50px;
}
div.switch-color {
  display: flex;
  flex-direction: row;
}
.dark-switch-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #fff;
}
label.label-switch {
  position: relative;
  min-width: 52px;
  min-height: 32px;
}
label.label-switch input {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 52px;
  height: 32px;
  cursor: pointer;
}
span.label {
  position: relative;
}
span.label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 1px solid;
  min-width: 52px;
  min-height: 32px;
  background: #2b2b3b;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
span.label::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 100%;
  border: 0;
  min-width: 28px;
  min-height: 28px;
  background: #fff;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}
input.checked + span.label::before {
  background: #02b8d1;
}
input.checked + span.label::after {
  content: "";
  left: 21px;
}
.form-select {
  border: 1px solid #4c4c54;
  background: transparent;
  background-image: url(../Assets/Images/Icons/dropdownCaret.svg);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 10px 5px;
  border-radius: 12px;
  color: #fff;
  width: 283px;
  height: 48px;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 283px;
  z-index: 1;
  left: 0;
  top: 48px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.form-select:hover .dropdown-content {
  display: block;
}
.form-select .hidden-option-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.form-select .hidden-option-container a img {
  margin: 0 19px;
}
.form-select .hidden-option-container > a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.footer-col-two {
  text-align: end;
}
.footer-col-two > div {
  display: inline-block;
}
.footer-row-three div > p {
  margin-top: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.3);
}
/* Sign up/login modal start */
.modal-content {
  height: 90vh;
  border-radius: 16px;
  overflow: hidden;
}
.modal-content .btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 1;
  border-radius: 100%;
  padding: 10px;
  background-color: white;
  z-index: 9;
}
.modal-content .modal-body .modal-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.modal-content .modal-body-row {
  position: relative;
  height: 100%;
}
.modal-content .modal-body-row .modal-body-col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content
  .modal-body-row
  .modal-body-col-1
  .signup-content
  .signup-content-text
  h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #020205;
  text-align: center;
}
.modal-content
  .modal-body-row
  .modal-body-col-1
  .signup-content
  .signup-content-text
  p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(2, 2, 5, 0.6);
  text-align: center;
  margin-bottom: 32px;
}
.btn-modal {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: rgba(2, 2, 5, 0.2);
  padding: 10px 24px;
  background-color: #f2f2f7;
  border-radius: 12px;
  margin-top: 32px;
}
.modal-body-col-1 .signup-content .sign-up-input .iti {
  display: block;
}
.sign-up-input > label {
  margin-left: 88px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #020205;
  margin-bottom: 15px;
}
.iti__flag-container {
  padding: 0;
}
.modal-body-col-1 .signup-content .sign-up-input .iti > input {
  outline: none;
  padding-bottom: 8px;
  margin-left: 88px;
  padding-left: 0 !important;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #02b8d1;
  caret-color: #007e8f;
  width: 77%;
}
.iti.iti--allow-dropdown .iti__flag-container .iti__selected-flag {
  background-color: transparent;
  border-bottom: 1px solid #02b8d1;
  padding-bottom: 8px;
}
.valid-msg {
  color: #0f0;
}
.error-msg {
  color: #f00;
}
.iti__flag {
  background-image: url("../Plugins/intlTelInput/build/img/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../Plugins/intlTelInput/build/img/flags@2x.png");
  }
}
/* sign up login modal end  */
.online-pay-section .online-pay-container,
.location-container {
  border-radius: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
  position: relative;
}
/* Global styles end*/

.accordion-header .accordion-sidebutton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
  margin-right: 5rem;
}
.accordion-header {
  position: relative;
}
.accordion-innerbody h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #020205;
  margin-top: 24px;
  margin-bottom: 8px;
}
.accordion-body {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #020205;
}
.insert-tag-styles {
  background: #000;
  padding: 8px;
  font-size: 14px;
  border-radius: 12px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  display: inline-block;
  margin: 12px 0;
}
.subtitle-styles {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #020205;
}
.subtitle-light-styles {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.btn-transparent-bg.light-text {
  color: #fff;
}
.card {
  border-radius: 32px;
  padding: 24px 16px;
  margin-bottom: 24px;
}
.card .card-header {
  background-color: transparent;
  border-bottom: 0;
}
.card-header h6 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #020205;
}
.card .card-body {
  display: inherit;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.card .card-body a {
  color: #020205;
}
.card .card-body a i {
  background: #f2f2f7;
  padding: 10px;
  border-radius: 100%;
}
.card .card-body h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #020205;
}
.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.card .card-body .counter {
  border: 0;
  text-align: center;
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  color: #020205;
  font-style: normal;
  font-weight: bold;
  outline: 0;
}
.card .card-footer {
  border-top: 0;
  background-color: transparent;
}
.column-card-two {
  margin: auto;
}
.card.card-col-two {
  background: linear-gradient(
    116.82deg,
    #8955a2 15.62%,
    #e24e27 99.99%,
    rgba(137, 85, 162, 0) 100%,
    rgba(137, 85, 162, 0) 100%
  );
  border-radius: 16px;
  padding: 36px;
  margin-bottom: 0;
}
.card.card-col-two .card-header h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: #ffffff;
  text-align: start;
}
.card.card-col-two .card-body h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}
.card.card-col-two .card-body p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.48;
}
.card.card-col-two .card-footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}
.navbar.fixed-nav-secondary {
  position: fixed;
  width: 100%;
  background-color: #e5e5e5;
  box-shadow: 0 6px 13px 1px #00000026;
  top: 0;
  left: 0;
}
.col-icons {
  text-align: center;
}
.icons-text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.4px;
  color: rgba(2, 2, 5, 0.6);
  margin-bottom: 0;
  margin-top: 20px;
}
.blurb {
  border-radius: 32px;
  background-color: #fff;
  padding: 24px 16px;
  position: relative;
  width: 360px;
  height: 100%;
  min-height: 360px;
}
.blurb .blurb-heading h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #020205;
}
.blurb .blurb-title h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #020205;
}
.spacing-bottom {
  margin-bottom: 48px;
}
.blurb .image {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 24px;
  margin-right: 16px;
}
.blurb .body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 16px 24px;
}
.blurb .body p {
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #020205;
}
.blurb .body p > a {
  color: #02b8d1;
  text-decoration: none;
}
.distinct-slider-container {
  width: 343px !important;
  height: 100%;
  min-height: 517px;
  background: #ffffff;
  border-radius: 32px;
  padding: 24px 16px;
  position: relative;
}
.view-all {
  margin-right: 2rem;
}
.text-container .text-c_heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: rgba(2, 2, 5, 0.6);
}
.text-container .text-c_title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.3px;
  color: #020205;
}
.text-container .text-c_body {
  font-family: Euclid Square;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #020205;
}
.btn-container {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 32px;
  left: 0;
}
.img-container-1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.img-container-2 {
  margin: -24px -16px;
}
.img-container-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
/* mobile breakpoint 320px */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .distinct-slider-container {
    width: 234px !important;
    height: 100%;
    min-height: 352px;
    border-radius: 22px;
    padding: 16px 11px;
    position: relative;
  }
  .text-container .text-c_heading {
    font-size: 8.1708px;
    line-height: 11px;
    letter-spacing: 0.13618px;
  }
  .text-container .text-c_title {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.3px;
  }
  .text-container .text-c_body {
    font-size: 12.2562px;
    line-height: 19px;
  }
  .img-container-2 {
    margin: -16px -11px;
  }

  .blurb {
    border-radius: 16px;
    padding: 12px 8px;
    position: relative;
    width: 166px;
    height: 100%;
    min-height: 166px;
  }
  .blurb .blurb-heading h6{
    font-size: 7.73239px;
    line-height: 10px;
    letter-spacing: 0.0966549px;
  }
  .blurb .blurb-title h5{
    font-size: 17.3979px;
    line-height: 21px;
  }
  .spacing-bottom-sm {
    margin-bottom: 32px;
  }
  .blurb .image {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-right: 8px;
  }
  .blurb .body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 8px 12px;
  }
  .blurb .body p {
    font-size: 8.69894px;
    line-height: 12px;
    letter-spacing: 0.144982px;
  }
  .blurb .body p > a {
    color: #02b8d1;
    text-decoration: none;
  }

  .icons-text {
    margin-bottom: 30px;
  }
  .online-pay-paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .online-pay-title {
    font-size: 36px;
    line-height: 44px;
    margin-right: 12px;
    margin-left: 12px;
  }
  .title-tag-styles {
    flex-direction: column;
  }
  .location-container {
    background-image: url(../Assets/Images/Image/mob/skyscraper_mobile.webp);
  }
  .online-pay-section .online-pay-container {
    background-image: url(../Assets/Images/Image/mob/linear-background_mobile.webp);
  }
  .onlinepay-image-container {
    flex-direction: column;
  }
  /* navbar mobile styles start */
  .navbar-primary.fixed-nav {
    background-color: #e5e5e5;
    box-shadow: 0 6px 13px 1px #00000026;
  }
  .navbar-toggler.btn-menu-toggler {
    color: #000;
    z-index: 999999;
  }
  #mainNavBar {
    position: absolute;
    width: 85%;
    height: 100vh;
    top: 0;
    right: -30rem;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    display: block !important;
    box-shadow: -5px 0px 13px #00000026;
  }
  #mainNavBar.show {
    right: 0rem;
  }
  .mobile-nav-menu .menu-list-left .nav-item .dropdown-menu {
    border: 0;
  }
  .mobile-nav-menu
    .menu-list-left
    .nav-item
    .dropdown-menu
    li
    > .mobile-inner-item-stlyes {
    padding: 13px 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #020205;
    display: block;
    text-decoration: none;
  }
  .mobile-nav-menu
    .menu-list-left
    .nav-item
    .dropdown-menu
    .islamic-bank-link
    > a {
    color: #007e8f;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .login-sign-up-inner-item {
    padding: 13px 32px;
  }
  .menu-list-left .nav-item .nav-link {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #020205;
    padding: 20px 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-list-left .nav-item .nav-link::after {
    transition: all 0.3s ease-in-out;
    font-size: 18px;
  }
  .menu-list-left .nav-item .nav-link[aria-expanded="true"]::after {
    transform: rotate(-180deg);
  }
  .menu-list-right .nav-item .nav-link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #020205;
  }
  .navbar-nav.menu-list-left {
    margin-top: 4rem;
  }
  .navbar-primary {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: transparent;
    transition: all 0.3s ease-in-out;
  }
  ul.menu-list-right {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  ul.menu-list-right > li {
    display: inline-block;
    margin: 0 10px;
  }
  .menu-list-right .nav-item .nav-link img {
    margin-right: 8px;
  }
  .modal-backdrop.show {
    background-color: #e5e5e5;
    opacity: 1;
  }
  .modal-dialog {
    max-width: 100%;
    margin: 40px;
  }
  .btn-menu-toggler {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  .btn-menu-toggler .burger-icon {
    margin-bottom: 5px;
  }
  .btn-menu-toggler .burger-icon i::before {
    font-size: 23px;
  }
  .menu-list-right .nav-item:last-child {
    padding-right: 0;
  }
  /* navbar mobile styles end */

  /* main section mobile styles start */
  .main-header {
    height: 100vh;
  }
  .video-background-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
  }
  .video-background-holder video {
    min-width: 100%;
    position: absolute;
    min-height: 100%;
    top: 0;
    left: -50rem;
  }
  .main-header .main-header-contents {
    z-index: 9;
  }
  .main-header .main-header-contents .header-title {
    margin-bottom: 56px;
  }
  .main-header .main-header-contents .header-title h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .main-header .main-header-contents .header-title p {
    font-size: 16px;
    line-height: 24px;
  }
  .video-link {
    margin-bottom: 56px;
  }
  .video-link > a {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  .video-link a span i {
    font-size: 12px;
    margin-right: 10px;
  }
  /* main header end */

  /* sliders and products section mobile styles start */
  .products-header-title h2 {
    font-size: 36px;
    line-height: 44px;
  }
  .sliders-title-arrows div .slider-title > h3 {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
  }
  .js-benefits-slider-styles .image {
    margin-bottom: 24px;
  }
  .js-benefits-slider-styles {
    justify-content: center;
  }
  .js-latest-offers-slider-styles {
    justify-content: space-between;
  }
  .js-latest-offers-slider-styles .image {
    margin-bottom: 3rem;
    width: 151px;
    height: 154px;
  }
  .js-latest-offers-slider-styles .image > img {
    width: 100%;
    height: 100%;
  }
  .view-all-container {
    text-align: center;
    margin-top: 38px;
  }
  .js-awards-slider-styles .slick-list .slick-track .slick-slide > div,
  .js-testimonials-slider-styles .slick-list .slick-track .slick-slide > div {
    margin-right: 30px;
    margin-left: 30px;
  }
  /* sliders and products section mobile styles end */

  /* cbd for business mobile section  start*/
  .cbd-for-business-section .row .cbd-for-business-section .texts-container {
    text-align: center;
  }
  .cbd-for-business-section .texts-container > h3 {
    text-align: center;
  }
  .cbd-for-business-section .texts-container span > p {
    text-align: center;
  }
  .row-reverse-inner-elements {
    flex-direction: column-reverse;
  }
  /* cbd for business mobile section end */

  /* cbd investr and cbd get started mobile */
  .get-started-section .texts-container > h3,
  .cbd-investr-section .texts-container > h3 {
    text-align: center;
  }
  .get-started-section .texts-container span > p,
  .cbd-investr-section .texts-container span > p {
    text-align: center;
    padding-right: 0;
  }
  /* cbd investr and cbd get started mobile */
  .get-started-section .texts-container,
  .cbd-investr-section .texts-container {
    align-items: center;
  }
  /* footer section mobile start */
  .faq-accordion-section
    .accordion
    .accordion-item
    .accordion-header
    > .accordion-button {
    font-size: 15px;
    padding: 16px 23px;
  }
  .footer-section .footer-list.collapse {
    display: none;
  }
  .footer-section .footer-list.collapse.show {
    display: block;
  }
  .footer-subtitles .navbar-toggler {
    display: inline-block;
  }
  .mob-title[aria-expanded="true"] .navbar-toggler .fa-angle-up {
    display: block;
  }
  .mob-title[aria-expanded="true"] .navbar-toggler .fa-angle-down {
    display: none;
  }
  .mob-title[aria-expanded="false"] .navbar-toggler .fa-angle-up {
    display: none;
  }
  .footer-section .footer-row {
    flex-direction: column;
  }
  .footer-section .footer-row .first-column > div {
    justify-content: center;
    margin-bottom: 32px;
    text-align: center;
  }
  .form-select {
    margin: 0;
    width: 100%;
  }
  .dark-switch-text {
    margin-left: 3rem;
  }
  .footer-section .footer-row .col .social-media a > i {
    margin: 0 15px;
  }
  .footer-title-container .mob-title .footer-subtitles {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
    cursor: default;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  .footer-row .col {
    padding: 0 30px;
  }
}
/* tablet and ipads breakpoint 481px */
@media screen and (min-width: 481px) {
  #mainNavBar {
    display: none !important;
  }
  .navbar-secondary .menu-list-left .secondary-nav-inner-dropdowns {
    max-width: 960px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
/* laptop breakpoint 768px */
@media screen and (min-width: 768px) {
  /* Navbar start */
  .dropdown-menu-title a span > i {
    margin-left: 15px;
  }
  .dropdown-inner-menu-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dropdown-inner-menu .dropdown-inner-menu-item > a {
    padding: 12px 20px;
  }
  .dropdown-inner-menu-item:hover {
    background: #00000014;
    border-radius: 8px;
  }
  .dropdown-inner-menu-item:hover a {
    color: #02b8d1 !important;
  }
  .dropdown-inner-menu-item a span > i {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .dropdown-inner-menu-item:hover a span > i {
    opacity: 1;
  }
  .dropdown .dropdown-menu {
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 8%), 0px 1px 0px rgb(0 0 0 / 8%);
  }
  .navbar-secondary .menu-list-left .secondary-nav-inner-dropdowns {
    max-width: 1140px;
  }
  .nav-item .nav-link {
    color: #fff;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .menu-list-left .nav-item {
    margin-right: 44px;
  }
  .menu-list-right .nav-item {
    padding-right: 33px;
  }
  .menu-list-right .nav-item .nav-link img {
    margin-right: 8px;
  }
  .nav-item.dropdown .dropdown-menu .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
  }
  .secondary-nav-inner-dropdowns {
    padding: 40px 48px;
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08),
      0px 1px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
  }
  .dropdown-menu-title {
    display: block;
    margin-bottom: 42px;
  }
  .dropdown-menu-title > * {
    display: inline-block;
  }
  .dropdown-menu-title h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #020205;
    margin-right: 31px;
    cursor: default;
  }
  .dropdown-menu-title > a {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #007e8f;
    text-decoration: none;
  }
  .dropdown-inner-menu-title h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #020205;
    margin-bottom: 26px;
    cursor: default;
  }
  .dropdown-inner-menu {
    list-style: none;
    padding: 0;
  }
  .dropdown-inner-menu .dropdown-inner-menu-item {
    margin-bottom: 16px;
    margin-left: -20px;
  }
  .dropdown-inner-menu .dropdown-inner-menu-item > a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: rgba(2, 2, 5, 0.6);
    cursor: pointer;
  }
  .image-and-title-container {
    padding-left: 18px;
  }
  .image-and-title-container > h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #020205;
    margin-bottom: 6px;
  }
  .image-and-title-container > p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: rgba(2, 2, 5, 0.6);
  }
  .fa-angle-right:before {
    margin-left: 6rem;
  }
  .navbar-primary {
    background: #000;
    z-index: 999;
    padding: 16px;
  }
  .modal-backdrop.show {
    background-color: #e5e5e5;
    opacity: 1;
  }
  .modal-dialog {
    max-width: 100%;
    margin: 40px;
  }
  .btn-menu-toggler {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
  .btn-menu-toggler .burger-icon {
    margin-bottom: 5px;
  }
  .btn-menu-toggler .burger-icon i::before {
    font-size: 23px;
  }
  .nav-item .nav-link::after {
    margin-left: 11px;
  }
  .menu-list-right .nav-item:last-child {
    padding-right: 0;
  }
  /* navbar end */
  /* main header start */
  .navbar-secondary {
    position: absolute;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease-in-out;
  }
  .navbar-secondary .menu-list-left {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .navbar-secondary .menu-list-right {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .navbar-secondary .menu-list-left .nav-item {
    margin-right: 28px;
  }
  .navbar-secondary .menu-list-left .nav-item .nav-link {
    padding: 18px 20px !important;
    border-radius: 8px;
  }
  .navbar-secondary .menu-list-left .nav-item .nav-link.dropdown-toggle.show {
    background-color: #fff;
    color: #02020599;
  }
  .inner-nav-item-image-container {
    position: relative;
    border-radius: 30px;
  }
  .inner-nav-item-image-container .inner-nav-item-image-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .inner-nav-item-image-container .inner-nav-item-image-title > h6 {
    margin: 32px 32px 16px 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }
  .inner-nav-item-image-container .inner-nav-item-image-title > p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
  }
  .main-header {
    height: 90vh;
    position: relative;
  }
  .video-background-holder {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -2;
  }
  .main-header .video-background-holder video {
    width: 100%;
  }
  .main-header .main-header-contents .header-title {
    margin-bottom: 56px;
  }
  .main-header .main-header-contents .header-title h1 {
    font-size: 44px;
    line-height: 60px;
  }
  .main-header .main-header-contents .header-title p {
    font-size: 18px;
    line-height: 28px;
  }
  .btn-white {
    border-radius: 12px;
    color: #000;
    background: #f2f2f7;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.3px;
  }
  .btn-blue {
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    background: #02b8d1;
    font-weight: 600;
    padding: 10px 24px;
    letter-spacing: 0.3px;
  }
  .video-link {
    margin-bottom: 56px;
  }
  .video-link > a {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  .video-link a span i {
    font-size: 12px;
    margin-right: 10px;
  }
  /* main header end */
  /* products section start */
  .view-all-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: end;
  }
  .latest-offers-section .container,
  .benefits-and-rewards-section .container {
    position: relative;
  }
  .products-header-title h2 {
    font-size: 44px;
    line-height: 48px;
  }
  .sliders-title-arrows div .slider-title > h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .slider-column-spacing {
    padding: 0;
  }
  /* products section end */
  /* CBD for Business section start*/
  .cbd-for-business-section .texts-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .cbd-for-business-section .texts-container > h3 {
    text-align: left;
  }
  .cbd-for-business-section .texts-container span > p {
    text-align: left;
    padding-right: 5rem;
  }
  .cbd-for-business-section .texts-container > .btn,
  .cbd-investr-section .texts-container > .btn,
  .get-started-section .texts-container > .btn {
    align-self: flex-start;
  }
  /* CBD for Business section end*/
  /* get started start */

  /* get started end */
  /* benefits and rewards section start */

  /* benefits and rewards section end */

  /* online pay start */
  .online-pay-section .online-pay-container {
    background-image: url("../Assets/Images/Image/linear-background.webp");
  }
  .location-container {
    background-image: url(../Assets/Images/Image/skyscraper.webp);
  }
  .online-pay-section .online-pay-container > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* online pay end */

  /* awards and testimonials styles start*/

  /* awards and testimonials styles end */

  /* branches and atms section start */
  .branches-and-atms-section .row .products-header-title > h2 {
    margin-bottom: 24px;
  }
  .branches-and-atms-section .row .products-header-title > p {
    margin: 0;
  }
  .btn-locations .col .btn {
    margin-top: 48px;
  }
  /* branches and atms section end */
  /* testimonials section start */
  .testimonials-sections .row .products-header-title > p {
    margin-top: 24px;
  }
  /* testimonials section end */
  /* FAQ accordion section start */

  /* FAQ accordion section end */
  /* footer section start */

  .footer-section .footer-row .col .footer-title-container h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
    cursor: default;
  }

  .footer-section .footer-row-two .footer-col-one div p {
    text-align: left;
  }
  .footer-section .footer-row-two .footer-col-two div p {
    text-align: right;
    margin-right: 15px;
  }

  /* footer section end */
  .image-container {
    margin-bottom: 0;
  }
  /* cbd investr and cbd get started  */
  .get-started-section .texts-container > h3,
  .cbd-investr-section .texts-container > h3 {
    text-align: left;
  }
  .get-started-section .texts-container span > p,
  .cbd-investr-section .texts-container span > p {
    text-align: left;
  }
  /* cbd investr and cbd get started  */
  .get-started-section .texts-container,
  .cbd-investr-section .texts-container {
    align-items: flex-start;
  }
}
