.card {
  border-radius: 32px;
  padding: 24px 16px;
  margin-bottom: 24px; }
  .card .card-header {
    background-color: transparent;
    border-bottom: 0;
    padding: 0; }

.card-header h6 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #020205; }

.card .card-body {
  display: inherit;
  align-items: center;
  padding: 0; }
  .card .card-body .value-amount {
    display: flex;
    align-items: center; }
    .card .card-body .value-amount h6 {
      margin: 0; }
    .card .card-body .value-amount p {
      margin: 0; }
  .card .card-body a {
    color: #020205; }
    .card .card-body a i {
      background: #f2f2f7;
      padding: 10px;
      border-radius: 100%; }
  .card .card-body h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #020205; }

.card-footer {
  padding-left: 0;
  padding-right: 0; }

.counter::-webkit-outer-spin-button, .counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.card .card-body .counter {
  border: 0;
  text-align: center;
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  color: #020205;
  background-color: transparent;
  font-style: normal;
  font-weight: bold;
  outline: 0; }

.card .card-footer {
  border-top: 0;
  padding-top: 0;
  background-color: transparent; }

.column-card-two {
  margin: auto; }

.card.card-col-two {
  background: linear-gradient(116.82deg, #8955a2 15.62%, #e24e27 99.99%, rgba(137, 85, 162, 0) 100%, rgba(137, 85, 162, 0) 100%);
  border-radius: 16px;
  padding: 36px;
  margin-bottom: 0; }
  .card.card-col-two .card-header h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.3px;
    color: #ffffff;
    text-align: start;
    margin-bottom: 0;
    padding-top: 1rem; }
  .card.card-col-two .card-body h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff; }
  .card.card-col-two .card-body p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
    opacity: 0.48; }
  .card.card-col-two .card-footer p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .counter-row {
    flex-direction: column; }
  .card .card-body.linear-bg-card {
    align-items: flex-start;
    flex-direction: column; }
  .card .card-footer {
    padding: 0; }
  .card.card.card-col-two .card-body h6 {
    display: inline; }
  .card.card.card-col-two .card-body p {
    display: inline; }
  .counter-row-one {
    flex-direction: column; }
  .counter-row-two {
    flex-direction: column; } }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .counter-row {
    flex-direction: column; }
    .counter-row .col-md-7 {
      width: 100%; }
  .card .card-body.linear-bg-card {
    align-items: center;
    flex-direction: row; }
  .card .card-footer {
    padding: 0; }
  .card.card.card-col-two .card-body h6 {
    display: inline; }
  .card.card.card-col-two .card-body p {
    display: inline; }
  .counter-row-one {
    flex-direction: row; }
  .counter-row-two {
    flex-direction: row; }
  .column-card-two {
    margin: auto;
    width: 100%; } }

@media screen and (min-width: 1200px) {
  .card .card-body .value-amount {
    margin-left: 16px; } }
