section.lightback-ground {
  background: #020205 !important; }

.btn-white-dark-styles {
  color: #fff;
  background-color: #020205 !important; }
  .btn-white-dark-styles:hover {
    color: #e5e5e5; }

.whiteFontDarkSymbol.white-font {
  background-color: #020205 !important; }
  .whiteFontDarkSymbol.white-font::before {
    color: #fff; }

.whiteFontDark.white-font {
  color: #fff !important; }

.dark-style-bg {
  background-color: #181821 !important; }

.arrowsDark.white-font button::before {
  color: #fff; }

.darkModeBG.dark-styles {
  background-color: #181821;
  box-shadow: -4px 0px 32px 0px #FFFFFF1A; }
  .darkModeBG.dark-styles #manageCookies {
    background-color: #2B2B3B;
    color: #fff; }
  .darkModeBG.dark-styles #confirmPreferences {
    color: #020205; }

.lightback-ground .insert-tag-styles {
  background-color: #181821; }
