.arrows-styles {
  flex-direction: row-reverse; }

.blurb .image {
  left: 0;
  right: unset;
  margin-left: 16px; }

.slick-slider {
  direction: ltr;
  text-align: end; }

.modal-content .modal-body .modal-image {
  left: 0;
  right: unset; }

.banner-center .icons > span {
  margin-left: 24px;
  margin-right: 24px; }
  .banner-center .icons > span > img {
    margin-left: 8px;
    margin-right: 0; }

.js-latest-offers-slider-styles .image > h4 {
  font-size: 16px; }

.bigger-text {
  line-height: 7rem; }

.faq-accordion-section .accordion .accordion-item .accordion-header > .accordion-button > img {
  margin-left: 16px; }

.faq-accordion-section .accordion .accordion-item .accordion-header > .accordion-button:not(.collapsed)::after {
  margin-left: unset;
  margin-right: auto; }

.faq-accordion-section .accordion .accordion-item .accordion-header > .accordion-button::after {
  margin-left: unset;
  margin-right: auto; }

.accordion-list .accordion-list-item {
  padding-right: 16px;
  padding-left: 0; }
  .accordion-list .accordion-list-item::before {
    right: -29px;
    left: 0; }

.modal-body-col-1 .signup-content .sign-up-input .iti {
  direction: ltr; }

.newsletter-btn {
  text-align: left; }

.footer-section .footer-row .col .footer-list li {
  padding: 18px 0px 18px 40px; }

span.label::before {
  left: unset;
  right: 0; }

span.label::after {
  left: 0;
  right: 2px; }

input.checked + span.label::after {
  right: 21px;
  left: 0; }

.btn-white {
  margin-right: 0;
  margin-left: 16px; }

.slick-dotted .slick-dots {
  direction: rtl; }

.btn-container {
  margin-bottom: 21px; }

.faq-accordion-section .accordion .accordion-item .accordion-header > .accordion-button {
  text-align: right; }

.checkbox-container input {
  margin-left: 11px;
  margin-right: 0; }

.cookie-image-text img {
  margin-right: 0;
  margin-left: 8px; }

.slash-1,
.slash-2 {
  left: 100%;
  right: 0; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .dark-switch-text {
    margin-right: 3rem;
    margin-left: 0; } }

@media screen and (min-width: 768px) {
  .dark-switch-text {
    margin-left: 0;
    margin-right: 10px; }
  .card .card-body .value-amount {
    margin-left: 0;
    margin-right: 16px; }
  .login-option-item h6 {
    margin-left: 0;
    margin-right: 16px; }
  .navbar-primary.navbar-expand-lg .navbar-nav .dropdown-menu {
    right: 0;
    left: unset; }
  .nav-item.dropdown .dropdown-menu .dropdown-item .fa-angle-right {
    margin-right: 6rem;
    margin-left: 0;
    transform: rotateY(180deg); }
  #item-5679:hover ~ .arrow {
    transform: translate(35px, 32px) rotate(45deg);
    transition: all 0.5s ease-in-out;
    display: block !important; }
  #item-5678:hover ~ .arrow {
    transform: translate(200px, 32px) rotate(45deg);
    transition: all 0.5s ease-in-out 0s;
    display: block !important; }
  #item-5677:hover ~ .arrow {
    transform: translate(345px, 32px) rotate(45deg);
    transition: all 0.5s ease-in-out 0s;
    display: block !important; }
  .main-header.bg-neutral .main-header-contents .header-title {
    margin-bottom: 48px; }
    .main-header.bg-neutral .main-header-contents .header-title h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 64px;
      color: #020205;
      margin-bottom: 24px; }
    .main-header.bg-neutral .main-header-contents .header-title p {
      margin-bottom: 4px; }
  .main-header.bg-neutral .navbar-secondary .menu-list-left .nav-item .nav-link {
    color: #020205; }
  .main-header.bg-neutral.lightback-ground .nav-link {
    color: #fff; }
  .navbar-primary .menu-list-right .nav-item {
    margin-left: 22px;
    padding-left: 37px;
    padding-right: 0; }
    .navbar-primary .menu-list-right .nav-item:last-child {
      padding-left: 0;
      margin-left: 0; }
  .navbar-primary .menu-list-left .nav-item {
    margin-left: 22px;
    padding-left: 37px;
    margin-right: 0px;
    padding-right: 0px; }
    .navbar-primary .menu-list-left .nav-item .nav-link::after {
      margin-right: 11px; }
  .dropdown-menu-title {
    text-align: right; }
    .dropdown-menu-title h4 {
      margin-right: 0;
      margin-left: 31px; }
    .dropdown-menu-title a span > i {
      margin-left: 0;
      margin-right: 15px;
      transform: rotateY(180deg); }
  .dropdown-inner-menu-title h6 {
    text-align: right; }
  .dropdown-inner-menu .dropdown-inner-menu-item > a {
    text-align: right; }
  .dropdown-inner-menu-item a span > i {
    transform: rotateY(180deg); }
  .image-and-title-container {
    padding-left: 0;
    padding-right: 18px;
    text-align: right; } }
