.arrows-styles {
  flex-direction: row-reverse; }

.blurb .image {
  left: 0;
  right: unset;
  margin-left: 16px; }

.slick-slider {
  direction: ltr;
  text-align: end; }

.modal-content .modal-body .modal-image {
  left: 0;
  right: unset; }

.banner-center .icons > span {
  margin-left: 24px; }

.js-latest-offers-slider-styles .image > h4 {
  font-size: 16px; }

.bigger-text {
  line-height: 7rem; }

.faq-accordion-section .accordion .accordion-item .accordion-header > .accordion-button > img {
  margin-left: 16px; }

.faq-accordion-section .accordion .accordion-item .accordion-header > .accordion-button:not(.collapsed)::after {
  margin-left: unset;
  margin-right: auto; }

.faq-accordion-section .accordion .accordion-item .accordion-header > .accordion-button::after {
  margin-left: unset;
  margin-right: auto; }

.accordion-list .accordion-list-item {
  padding-right: 16px;
  padding-left: 0; }
  .accordion-list .accordion-list-item::before {
    right: -29px;
    left: 0; }

.modal-body-col-1 .signup-content .sign-up-input .iti {
  direction: ltr; }

@media screen and (min-width: 768px) {
  .main-header .main-header-contents .header-title {
    margin-bottom: 48px; }
    .main-header .main-header-contents .header-title h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 64px;
      color: #020205;
      margin-bottom: 24px; }
    .main-header .main-header-contents .header-title p {
      margin-bottom: 4px; }
  .navbar-primary .menu-list-right .nav-item {
    margin-left: 22px;
    padding-left: 37px;
    padding-right: 0; }
    .navbar-primary .menu-list-right .nav-item:last-child {
      padding-left: 0;
      margin-left: 0; }
  .navbar-primary .menu-list-left .nav-item {
    margin-left: 22px;
    padding-left: 37px;
    margin-right: 0px;
    padding-right: 0px; }
    .navbar-primary .menu-list-left .nav-item .nav-link::after {
      margin-right: 11px; } }
