.blurb {
  border-radius: 32px;
  background-color: #fff;
  padding: 24px 16px;
  position: relative;
  width: 360px;
  height: 100%;
  min-height: 360px;
  .blurb-heading {
    h6 {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: #020205;
    }
  }
  .blurb-title {
    h5 {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: #020205;
    }
  }
  .image {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 24px;
    margin-right: 16px;
  }
  .body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 16px 24px;
    p {
      margin-bottom: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.3px;
      color: #020205;
    }
  }
}
.spacing-bottom {
  margin-bottom: 48px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .blurb {
    border-radius: 16px;
    padding: 12px 8px;
    position: relative;
    width: 166px;
    height: 100%;
    min-height: 166px;
    .blurb-heading {
      h6 {
        font-size: 7.73239px;
        line-height: 10px;
        letter-spacing: 0.0966549px;
      }
    }
    .blurb-title {
      h5 {
        font-size: 17.3979px;
        line-height: 21px;
      }
    }
    .image {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 12px;
      margin-right: 8px;
    }
    .body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 8px 12px;
      p {
        font-size: 8.69894px;
        line-height: 12px;
        letter-spacing: 0.144982px;
      }
    }
  }
  .spacing-bottom-sm {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .blurb {
    border-radius: 16px;
    padding: 12px 8px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 166px;
    .blurb-heading {
      h6 {
        font-size: 10px;
        line-height: 10px;
        letter-spacing: 0.0966549px;
      }
    }
    .blurb-title {
      h5 {
        font-size: 17px;
        line-height: 21px;
      }
    }
    .image {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 12px;
      margin-right: 8px;
    }
    .body {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 8px 12px;
      p {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.144982px;
      }
    }
  }
  .spacing-bottom {
    margin-bottom: 20px;
  }
}