.carousel.slide {
  .carousel-indicators {
    margin-bottom: -48px;
    button {
      width: 6px;
      height: 6px;
      border-radius: 100%;
      &:not(.active) {
        background-color: rgba(2, 2, 5, 0.2);
      }
    }
    button.active {
      background-color: #181821;
      opacity: 1;
    }
  }
}
.carousel-arrows {
  span {
    i {
      background: rgba(0, 0, 0, 0.5);
      padding: 16px;
      border-radius: 100%;
    }
  }
}
.banner-center {
  .text-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    > span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 24px;
    }
    span {
      > img {
        margin-right: 8px;
      }
      > h6 {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        letter-spacing: 0.2px;
        color: #020205;
        margin-bottom: 0;
      }
    }
  }
  .banner-center-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #020205;
    margin-bottom: 24px;
  }
  span {
    > p {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #020205;
      margin-bottom: 48px;
    }
  }
  .banner-content-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    margin-top: 60px;
    > a {
      text-decoration: none;
      color: #007e8f;
    }
  }
}
.banner-list-styles {
  > li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #020205;
    margin-bottom: 25px;
    &::marker {
      color: #e4e4eb;
      font-size: 18px;
    }
  }
}
.extended-banner-center.banner-center {
  .icons {
    flex-direction: column;
    align-items: flex-start;
    > span {
      margin-bottom: 24px;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .title-tag-styles {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
}
