.credit-card-for-you-section {
  background: #181821;
  .row {
    text-align: center;
  }
  .text-row {
    .col {
      div {
        > h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 44px;
          line-height: 48px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}
.bigger-text {
  font-size: 6rem;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}
@media screen and (min-width: 768px) {
}
