section.lightback-ground {
  background: #020205 !important;
}
.btn-white-dark-styles {
  color: #fff;
  background-color: #020205;
  &:hover {
      color: #e5e5e5;
  }
}
.whiteFontDarkSymbol.white-font {
    background-color: #020205 !important;
    &::before {
        color: #fff;
    }
}
.whiteFontDark.white-font {
    color: #fff !important;
}
.dark-style-bg{
background-color: #181821 !important;
}