.arrows-styles {
  flex-direction: row-reverse;
}
.blurb {
  .image {
    left: 0;
    right: unset;
    margin-left: 16px;
  }
}
.slick-slider {
  direction: ltr;
  text-align: end;
}
.modal-content {
  .modal-body {
    .modal-image {
      left: 0;
      right: unset;
    }
  }
}
.banner-center {
  .icons {
    > span {
      margin-left: 24px;
    }
  }
}
.js-latest-offers-slider-styles {
  .image {
    > h4 {
      font-size: 16px;
    }
  }
}
.bigger-text {
  line-height: 7rem;
}
.faq-accordion-section {
  .accordion {
    .accordion-item {
      .accordion-header {
        > .accordion-button {
          > img {
            margin-left: 16px;
          }
          &:not(.collapsed) {
            &::after {
              margin-left: unset;
              margin-right: auto;
            }
          }
          &::after {
            margin-left: unset;
            margin-right: auto;
          }
        }
      }
    }
  }
}
.accordion-list {
  .accordion-list-item {
    padding-right: 16px;
    padding-left: 0;
    &::before {
      right: -29px;
      left: 0;
    }
  }
}
.modal-body-col-1 {
  .signup-content {
    .sign-up-input {
      .iti {
        direction: ltr;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .main-header {
    .main-header-contents {
      .header-title {
        h1 {
          font-style: normal;
          font-weight: bold;
          font-size: 44px;
          line-height: 64px;
          color: #020205;
          margin-bottom: 24px;
        }
        p {
          margin-bottom: 4px;
        }
        margin-bottom: 48px;
      }
    }
  }
  .navbar-primary {
    .menu-list-right {
      .nav-item {
        margin-left: 22px;
        padding-left: 37px;
        padding-right: 0;
        &:last-child {
          padding-left: 0;
          margin-left: 0;
        }
      }
    }
    .menu-list-left {
      .nav-item {
        margin-left: 22px;
        padding-left: 37px;
        margin-right: 0px;
        padding-right: 0px;
        .nav-link {
          &::after {
            margin-right: 11px;
          }
        }
      }
    }
  }
  .dropdown-menu-title {
    text-align: right;
    h4 {
      margin-right: 0;
      margin-left: 31px;
    }
    a {
      span {
        > i {
          margin-left: 0;
          margin-right: 15px;
          transform: rotateY(180deg);
        }
      }
    }
  }
  .dropdown-inner-menu-title {
    h6 {
      text-align: right;
    }
  }
  .dropdown-inner-menu {
    .dropdown-inner-menu-item {
      margin-left: 0;
      margin-right: -20px;
    }
  }
  .dropdown-inner-menu-item {
    a {
      span {
        > i {
          transform: rotateY(180deg);
        }
      }
    }
  }
  .image-and-title-container {
    padding-left: 0;
    padding-right: 18px;
    text-align: right;
  }
}
